//Copyright (C) 2014 - 2016, guardiancrow

#define WIN32_LEAN_AND_MEAN

#include <windows.h>
#include "resource.h"

//文字化け回避用
#pragma code_page(65001)
LANGUAGE LANG_JAPANESE, SUBLANG_DEFAULT


//設定ダイアログ
IDD_OPTIONDIALOG DIALOGEX 0, 0, 270, 151
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "CLIPSSの設定"
FONT 8, "Meiryo UI", 400, 0, 0x80
BEGIN
	DEFPUSHBUTTON   "OK",IDOK,157,130,50,14
	PUSHBUTTON      "キャンセル",IDCANCEL,213,130,50,14
	PUSHBUTTON      "参照",IDC_BUTTONSAVEDIR,204,24,52,15
	EDITTEXT        IDC_EDITSAVEDIR,12,24,189,15,ES_AUTOHSCROLL
	EDITTEXT        IDC_EDITLASTNUMBER,198,96,40,14,ES_AUTOHSCROLL | ES_NUMBER
	EDITTEXT        IDC_EDITJPEGQUALITY,18,114,40,14,ES_AUTOHSCROLL | ES_NUMBER
	COMBOBOX        IDC_COMBOSAVEFORMAT,18,60,48,60,CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	COMBOBOX        IDC_COMBOPOSTFIXMODE,199,60,48,60,CBS_DROPDOWNLIST | CBS_DISABLENOSCROLL | WS_VSCROLL | WS_TABSTOP
	CONTROL         "ウインドウを前面に引っ張る",IDC_CHECKPULLWINDOW,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,102,66,78,10
	CONTROL         "カラープロファイル有効",IDC_CHECKICMMODE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,102,78,66,10
	CONTROL         "PNGサイズ最適化",IDC_CHECKPNGOPTIMIZE,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,78,63,10
	CONTROL         "Zopfliを使う",IDC_CHECKUSEZOPFLI,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,18,91,49,10
	CONTROL         "",IDC_SPINLASTNUMBER,"msctls_updown32",UDS_ARROWKEYS,240,96,10,14
	CONTROL         "",IDC_SPINJPEGQUALITY,"msctls_updown32",UDS_ARROWKEYS,60,114,10,14
	GROUPBOX        "保存形式設定",IDC_STATICFORMAT,12,48,75,89
	GROUPBOX        "キャプチャ設定",IDC_STATICCAPTURE,96,48,90,54
	GROUPBOX        "ファイル名設定",IDC_STATICPOSTFIX,192,48,66,73
	LTEXT           "JPEG品質",IDC_STATICJPEGQUALITY,18,102,33,8
	LTEXT           "連番カウンタ",IDC_STATICCONSECUTIVE,198,84,36,8
	LTEXT           "保存先フォルダ",IDC_STATICSAVEDIR,12,12,38,8
END

STRINGTABLE
BEGIN
	IDS_APP_TITLE	"clipss"
	IDC_CLIPSS		"CLIPSS"

	IDS_IMAGE_BMP	"BMP"
	IDS_IMAGE_JPEG	"JPEG"
	IDS_IMAGE_PNG	"PNG"

	IDS_POSTFIX_NONE				"何も付けない"
	IDS_POSTFIX_CONSECUTIVENUMBER	"連番"
	IDS_POSTFIX_DATETIME			"日付/時刻"
	IDS_POSTFIX_HASH				"ハッシュ"

	IDS_RECTMODE		"RECTANGLE MODE"
	IDS_WINDOWMODE		"WINDOW MODE"
	IDS_CLIENTMODE		"CLIENT MODE"
	IDS_FULLSCREENMODE	"FULLSCREEN MODE"

	IDS_MENU_RECTMODE		"矩形選択"
	IDS_MENU_WINDOWMODE		"ウインドウ領域選択"
	IDS_MENU_CLIENTMODE		"クライアント領域選択"
	IDS_MENU_FULLSCREENMODE	"フルスクリーン選択"
	IDS_MENU_OPENFOLDER		"保存先フォルダを開く"
	IDS_MENU_OPTION			"設定"
	IDS_MENU_EXIT			"終了"
	
	IDS_DIALOG_CHOOSESAVEDIR	"CLIPSSが作成する画像を保存したいフォルダを選択してください"

	IDS_ERR_OK				"OK"
	IDS_ERR_INVALIDPARAM	"不正なパラメータがあります"
END
